/.idea/
###> symfony/framework-bundle ###
/docker/.env
/docker/mysql/data
/docker/rabbitmq/data
/docker/rabbitmq/log
/.env.local.php
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/storage
/var/*
/var/cache/*
/var/log/*
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
